<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.dao.SysPermissionDao">
  <sql id="Base_Column_List">
      id, permName, permTag, url
  </sql>

  <!--获取所有的权限数据-->
  <select id="getAllPers" resultType="sysPermission">
    select
    <include refid="Base_Column_List"></include>
    from sys_permission
  </select>


</mapper>
